<header>
    <a href="{{ path('admin') }}">
        <img src="{{ asset('assets/img/logo.png') }}" class="logo" alt="logo association" />
    </a>

    <h1 class="title">Administration</h1>

    <nav>
        <ul>
            <li><a href="{{ path('dashboard') }}">Tableau de board</a></li>
        </ul>
    </nav>
</header>