html{
    font-size: 16px;
}
.title{
    font-size: 20px;
}
body {
    margin:0;
    padding:0;
}
.contenu{
    text-justify: none;
}
label.required::after {
    content: "*";
    color:red;
}
#mapid{
    height: 50vh;
}
body > footer .col p .logo{
    flex: 1;
    height: 5rem;
}