html{
    font-size: 16px;
}
.title{
    font-size: 20px;
}
body {
    margin:0;
    padding:0;
}
.contenu{
    text-justify: none;
}
label.required::after {
    content: "*";
    color:red;
}
#mapid{
    height: 50vh;
}
body > footer .col p .logo{
    flex: 1;
    height: 5rem;
}
@media (max-width: 400px) {
    #mapid{
        height: 20vh;
        width:  20vh;

    }
}
@media (max-width: 990px) {
    #mapid{
        height: 40vh;
        width:  40vh;
        margin-left: 10px;

    }
}