<header>
    <a href="{{ path('homepage') }}">
        <img src="{{ asset('assets/img/logo.png') }}" class="logo" alt="logo association" />
    </a>

    <h1 class="title">Association DMDA Mayotte</h1>

    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a href="{{ path('adhesion_particuliers') }}">Adhésion</a></li>
        </ul>
    </nav>
</header>
