<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Association DMDA
			{% endblock %}
		</title>
		<link rel="stylesheets" href="{{ asset('assets/css/style.css')}}"/> 
		</head>
		<body>
			{% include "_header.html.twig" %}

			{% block body %}{% endblock %}

			{% include "_footer.html.twig" %}

			{% block javascripts %}{% endblock %}
		</body>
	</html>
