{% extends "base.html.twig" %}
{% block title %}
	{{pagetitle}}
{% endblock %}
{% block body %}
	<h1>
		Mention Légale</h1>

		<hr/>

		<h3>what is Lorem Ipsum?</h3>
	<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		
		Why do we use it?
		It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
		
		
		Where does it come from?
		Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		
		The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
	
	<h3>what is Lorem Ipsum?</h3>

	<p>
	What is Lorem Ipsum?
	
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis tortor pulvinar, scelerisque erat id, volutpat urna. Aenean commodo sodales ante in tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque rhoncus in dolor non tincidunt. Integer pharetra tortor eget sagittis mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut felis ipsum, congue id ligula nec, finibus sodales neque.

Fusce accumsan semper ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque euismod eu magna sed cursus. Integer ultricies tellus eu porttitor posuere. Sed quis aliquet lectus. Phasellus luctus fringilla lectus a cursus. Aliquam porttitor magna sed purus auctor bibendum. Proin ipsum velit, aliquet quis augue quis, suscipit accumsan felis. Donec dignissim risus eget massa venenatis, id blandit ligula tempor. Cras et euismod mauris. Aliquam vitae varius sapien. Aenean facilisis risus vitae convallis bibendum. Duis massa lorem, vehicula id tristique quis, ultrices a metus. Etiam commodo quam nulla, vitae suscipit felis ullamcorper a. Mauris lorem urna, ornare at suscipit non, dictum a lacus.

Nullam non augue volutpat, vehicula lorem non, pharetra ex. Suspendisse odio mauris, imperdiet ac erat maximus, aliquam luctus ex. Aenean pharetra libero quam, eget congue mauris pulvinar vitae. In hac habitasse platea dictumst. Ut laoreet, metus nec commodo rutrum, urna lorem tempor turpis, sed congue tellus nulla quis justo. Aenean sodales velit turpis, ut maximus dui tristique eget. Ut posuere nisi a quam hendrerit, sit amet mattis diam aliquam. Nullam porttitor vel nisl rutrum interdum. Nulla at convallis neque, quis laoreet massa. Nullam faucibus neque eu posuere bibendum. Quisque non quam at felis dictum elementum.

Proin lorem sem, eleifend eget rutrum non, faucibus et massa. Proin posuere, velit vel lacinia cursus, dolor ligula maximus dolor, a maximus quam nisi vitae tellus. Morbi consequat gravida sagittis. Nam imperdiet sem magna, id maximus libero molestie vitae. Donec faucibus feugiat nulla, ac tincidunt nisi hendrerit nec. Maecenas aliquam rutrum mi, vitae ullamcorper massa vestibulum eu. Aliquam at dictum turpis, quis congue ipsum. Maecenas nec ipsum velit. In hac habitasse platea dictumst.

Suspendisse volutpat turpis in semper varius. Suspendisse a ultricies nisi. Proin congue felis justo, nec consectetur mi porta at. In cursus tellus erat, id tempor ligula maximus sit amet. Maecenas pulvinar non sem nec posuere. Ut non tempor magna, sit amet ultricies dui. Curabitur vel congue diam. Nulla facilisi. Suspendisse vestibulum lorem non aliquet cursus. Nam pulvinar consequat sapien, a gravida purus tempor in. Vivamus vehicula, lectus porttitor lacinia gravida, leo quam porta felis, eget gravida nibh justo vel leo. Nulla vehicula felis sapien, ut eleifend lectus pretium vehicula. Proin bibendum elementum lobortis. Donec leo neque, faucibus eget posuere eget, pellentesque at nisl. Integer vehicula eros ac nulla posuere pellentesque. Etiam iaculis sapien ac cursus fringilla.

Cras rhoncus quam ac risus faucibus feugiat. Suspendisse vestibulum urna magna. Maecenas pellentesque gravida lacinia. Mauris elementum ligula et tortor rutrum aliquet. Pellentesque urna tortor, porta nec vulputate ut, tincidunt et metus. Duis molestie accumsan velit vel ultrices. Nam eu nunc sit amet lorem vehicula lacinia.</p>
{% endblock %}
